html, body {
  margin: 0;
  padding: 0;
}
#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
#hidden-data {
  display: none;
  visibility: hidden;
}
#canvas {
  /*outline: 2px solid black;*/
}
